body {
    font-size: 1em;
}

#main {
	grid-template-columns: 1fr;
}

.subtitle {
    font-size: 0.75em;
}

.plugin {
    border-image-slice: 2;
    display: block;
    min-height: 0;
}

.plugin__image {
    display: none;
}

footer {
    font-size: 0.85em;
}

.pop {
    width: 90vw;
}
